<div class="row pt-5">
  <div class="d-flex justify-content-center" *ngIf="loader">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <ng-template [ngIf]="questionResponse">
    <div class="col-lg-9" @translate>
      <div class="d-flex flex-column">
        <h2>{{questionResponse.title}}</h2>
        <div class="d-flex justify-content-between col-md-7">
          <div><span class="text-muted">Asked</span> : {{questionResponse.creation_date| date:'dd/MM/yyyy'}}</div>
          <div><span class="text-muted">Active</span> : {{questionResponse.is_answered ? 'today' : 'Old'}}</div>
          <div><span class="text-muted">Viewed</span> : {{questionResponse.view_count}} times</div>
        </div>
        <hr />
        <div class="d-flex">
          <div class="d-none d-md-block d-flex flex-column px-4 text-center">
            <i class="bi bi-caret-up-fill"></i>
            <div>{{questionResponse.score}}</div>
            <i class="bi bi-caret-down-fill"></i>
          </div>
          <div [innerHTML]="questionResponse.body"></div>
        </div>
        <div>
          <app-comments [questionId]="questionId"></app-comments>
        </div>
        <!-- <div [innerHTML]="questionResponse.body"></div> -->
       
      </div>

      <hr />
      <div class="d-flex justify-content-between py-4">
        <h4 class="text-muted fs-3">{{questionResponse.answer_count}} Answers</h4>
        <div class="btn-group" role="group" aria-label="Basic example">
          <ng-container *ngFor="let btnType of answerTypes">
            <button type="button" class="btn " [ngClass]="{'btn-outline-primary': answerFilter.sort!=btnType.key,'btn-primary': answerFilter.sort==btnType.key}"
              (click)="answerFilter.order=answerFilter.order=='desc'? 'asc': 'desc'; answerFilter.sort=btnType.key; filterAnswers()">
              <i *ngIf="answerFilter.sort==btnType.key" class="bi " [ngClass]="{'bi-arrow-up': answerFilter.order=='asc', 'bi-arrow-down': answerFilter.order=='desc'}"></i>
              {{btnType.title}}
            </button>
          </ng-container>
        </div>
      </div>
      
      <ng-template [ngIf]="answerResponse">

        <ng-container *ngFor="let answer of answerResponse">
          <div class="d-flex flex-column">
            <div class="d-flex">

              <div class="d-none d-md-block d-flex flex-column px-4 text-center">
                <i class="bi bi-caret-up-fill"></i>
                <div>{{answer.score}}</div>
                <i class="bi bi-caret-down-fill"></i>
              </div>
              <div class="d-flex flex-column col-lg-11 col-md-11" [innerHTML]="answer.body"></div>
            </div>
            <div class="d-flex justify-content-between">
              <div role="button" (click)="selectedAnswerId = selectedAnswerId==answer.answer_id? null : answer.answer_id;">
                {{selectedAnswerId==answer.answer_id? 'Hide Comments' : 'Show Comments'}}
                </div>
              <div class="col-md-4 d-flex">
                <img  [src]="answer.owner.profile_image" width="20%" class="rounded-3" />
                <h4 class="p-2">{{answer.owner.display_name}}</h4>
              </div>
            </div>
            <div class="d-flex justify-content-center" *ngIf="selectedAnswerId==answer.answer_id">
              
              <div class="col-md-10 px-5">
                <app-comments [answerId]="answer.answer_id"></app-comments>
              </div>
            </div>
            
            <!-- <h2>{{answer.}}</h2> -->
            <!-- <div class="d-flex justify-content-between col-md-5">
              <div>Answer Id : {{answer.answer_id}}</div>
              <div>Score: {{answer.score}}</div>
              <div>Is Accepted: {{answer.is_accepted}}</div>
            </div> -->
          </div>

          <hr />
        </ng-container> 

      </ng-template>
    
    </div>
    <div class="col-lg-3 d-none d-md-block">
      <h5>Related</h5>

      <div class="d-flex flex-column" @translateup>
        <div *ngFor="let rquest of relatedQuestionResponse" class="d-flex flex-row">
          <div>
            <span class="badge bg-success p-2 me-2 mt-1">
              {{rquest.answer_count}}
            </span>
            
          </div>
          <div>
            <a style="text-decoration: none;" [routerLink]="['../' + rquest.question_id]" routerLinkActive="active" >
              {{rquest.title}}
            </a>
            </div>
        </div>
      </div>
  
    </div>
    
  </ng-template>
  
</div>