<app-header></app-header>

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-2 col-md-2 d-sm-none d-lg-block d-md-block">
            <ul class="pt-5 nav nav-pills flex-column">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['./questions']" [routerLinkActive]="'active'" >Questions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['./tags']" [routerLinkActive]="'active'">Tags</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['./users']" [routerLinkActive]="'active'">Users</a>
                </li>
              </ul>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12">
            <router-outlet></router-outlet>
        </div>
        <!-- <div class="col-lg-3 col-md-2 d-sm-none d-lg-block d-md-block">
            Right Side
        </div> -->
    </div>

    
</div>

